/* ==UserStyle==
@name           Minimal Dark V3rm
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A theme for V3rmillion.net
@homepageURL    https://github.com/vermstacy/css
@author         stacy
==/UserStyle== */

@-moz-document domain("v3rmillion.net") {
    /* Hides Dropdown menu top border */
        ul.menu li ul {
        border-top: 0px
    }
    /* Hides Useless Elements */
    [class*="wrap"] > [id*="logo"] > a[href*="https://v3rmillion.net/index.php"], [class*="thead"] > [class*="expcolimage"] > [class*="expander"], [class*="red_alert"] > a[href*="showthread.php?tid=1181446"], [class*="red_alert"], [onclick*="MyAdvertisements.do_click(1);"], [id*="footer"], [class*="rules"], [class*="chatbox"], [class*="memberlist"] {
        display: none !important;
}
    [class*="menu"] > li:nth-child(7) > a:nth-child(1) {
        display:none
    }
    .ddm_anchor > a:nth-child(1) {
        display:none
    }
    [class*="ddm_anchor"] > [href*="#"] > strong:nth-child(1) {
        display:none !important;
    }
    [id*="upboat1308416"] > [href*="#likepid1308416"] {
        display:block !important;
    }
    /* Majority of the theming */
    [class*="thead"] {
        background: #101010;
    }
    [id*="bridge"] {
        border-bottom: 0px !important;
    }
    [class*="forum_on"] {
        color: #fff !important;
    }
    [class*="forum_off"] {
        color: #818181 !important;
    }
    [class*="inline_row"] {
        color: #b8b8b8 !important;
    }
    [class*="inline_row"] a {
        color: #fff !important;
    }
    [class*="pagination"] a {
        background: #222 !important;
        border: 0px !important;
    }
    [class*="go_page"] > [src*="https://v3rmillion.net/images/vermillion/arrow_down.png"]     {
        filter: grayscale(100%) !important;
    }
    [class*="tfoot"] {
        background: #222 !important;
    }
    [class*="input"], [class*="button"] {
        background: #333 !important;
        border: 0px !important;
    }
    [class*="thread_head"] {
        border-bottom: 0px;
    }
    [class*="postlink"] {
        border: 1px solid #333
    }
    [class*="postbit_buttons"] {
        background: #1a1a1a !important;
    }
    [class*="postbit_buttons"] > a:link {
        background: #333;
        border: 0px;
    }
    [class*="postbit_buttons"] > a:visited {
        background: #333;
        border: 0px;
    }
    [src*="images/star.png"] {
        filter: grayscale(100%) brightness(5)
    }
    [class*="menu top_links"] {
        text-align: center !important;
        align-content: center !important;
        align-items: center !important;
    }
    [class*="panel_links"] > li:nth-child(2):not(:hover) {
        display: none !important;
    }
    [class*="panel_links"] > li:nth-child(3):not(:hover) {
        display: none !important;
    }
    /* U */
    [class*="sub_control"] {
        border: 0px;
        background: #313131;
        border-radius: 5px;
    }
    input[class*="textbox"]:focus {
        border: 0px !important;
        box-shadow: 0 0 10px #7a7a7a;
    }
    /* Editors / Type Bars */
    [class*="sceditor-container"], [dir*="ltr"] {
        background-color: #101010 !important;
        color: white !important;
        border: 0px;
        padding-left: 3px !important;
    }
    [class*="sceditor-toolbar"] {
        background:#1b1b1b !important;
        border-bottom: 1px solid #2b2b2b !important;
    }
    [class*="sceditor-button"] {
        background:#414141 !important;
    }
    [class*="select2-choices"] {
        background: #101010 !important;
        border: 0px !important;
        border-radius: 5px !important;
    }
    [class*="select2-no-results"] {
        background: #101010 !important;
        color: white
    }
    [class*="select2-searching"], div[class*="select2-drop-mask"] {
        background: #101010 !important;
        background-color: #101010 !important;
        color: #101010 !important;
    }
    [class*="select2-drop-active"] {
        border: 0px !important;
    }
    [class*="select2-drop select2-drop-multi select2-display-none select2-drop-active"] {
        background: #101010 !important;
        color: white
    }
    /* Button */
    [class*="expcolimage"] {
        display: none;
    }
}
